extends /layout

block content
	link(rel='stylesheet', href='/stylesheets/trade.css')

	div(class="trade-view")

		div(class="trade-window col")

			div(class="row")
				button(class="market-order") Market
				button(class="limit-order") Limit
				button(class="stop-order") Stop
	
			div(class="row")
				label Price
				input(class="order-price" type="text" placeholder="Price")
			div(class="row")
				label Size
				input(class="order-amount" type="text" placeholder="Amount")
			//- select(class="dropdown")
			//- 	option(value="buy") BUY
			//- 	option(value="sell") SELL
			//- select(class="coin-choice")
			//- 	option(value="BTC-USD") BTC-USD
			//- 	option(value="ETH-USD") ETH-USD
			//- 	option(value="BCH-USD") BCH-USD
			//- 	option(value="LTC-USD") LTC-USD
			div(class="row")
				div(class="col")
					label Cash Balance:
				div(class="col")
					div(class="money-balance")
			div(class="row")
				div(class="col")
					label Total Portfolio:
				div(class="col")
					div(class="portfolio-worth")
	
			form(class="dropdown row")
				div(class="row")
					label Buy
					input(type="radio" name="side" value="buy")
				div(class="row")
					label Sell
					input(type="radio" name="side" value="sell")
			hr
	
			form(class="coin-choice")
				div(class="row")
					label BTC-USD
					input(type="radio" name="coin-choice" value="BTC-USD")
					div(class="col")
						div(class="btc-balance")
						div(class="btc-worth")
				div(class="row")
					label ETH-USD
					input(type="radio" name="coin-choice" value="ETH-USD")
					div(class="col")
						div(class="eth-balance")
						div(class="eth-worth")
				div(class="row")
					label LTC-USD
					input(type="radio" name="coin-choice" value="LTC-USD")
					div(class="col")
						div(class="ltc-balance")
						div(class="ltc-worth")
				div(class="row")
					label BCH-USD
					input(type="radio" name="coin-choice" value="BCH-USD")
					div(class="col")
						div(class="bch-balance")
						div(class="bch-worth")
			button(class="submit-order") Submit order

			div(class="row order-feedback-panel")
				div(class="col full-width")
					h4 Order Feedback
					div(class="order-feedback")

		div(class="trade-body")
			//- h1= title
			div(class="row")
				div(class="last-trades component ultra-slim full-width")
					span(class="col")
						div(class="row")
							label BTC : $
							span(class="btc-price")
							span(class="btc-diff")
							span(class="btc-24-hour-change")
		
					span(class="col")
						div(class="row")
							label ETH : $
							span(class="eth-price")
							span(class="eth-diff")
							span(class="eth-24-hour-change")
		
					span(class="col")
						div(class="row")
							label LTC : $
							span(class="ltc-price")
							span(class="ltc-diff")
							span(class="ltc-24-hour-change")
		
					span(class="col")
						div(class="row")
							label BCC : $
							span(class="bch-price")
							span(class="bch-diff")
							span(class="bch-24-hour-change")

			div(class="row")
				div(class="btcd-last-trades component ultra-slim full-width")
					span(class="col")
						div(class="row")
							label BTC : Ƀ
							span(class="btcd-btc-price") 1.00000000
							span(class="btcd-btc-diff") 0.00
							span(class="btcd-btc-24-hour-change") 0.00%
		
					span(class="col")
						div(class="row")
							label ETH : Ƀ
							span(class="btcd-eth-price")
							span(class="btcd-eth-diff")
							span(class="btcd-eth-24-hour-change")
		
					span(class="col")
						div(class="row")
							label LTC : Ƀ
							span(class="btcd-ltc-price")
							span(class="btcd-ltc-diff")
							span(class="btcd-ltc-24-hour-change")
		
					span(class="col")
						div(class="row")
							label BCC : Ƀ
							span(class="btcd-bch-price")
							span(class="btcd-bch-diff")
							span(class="btcd-bch-24-hour-change")
	
			div(class="row")
				span(class="col one-third-width")
					h2 Advanced Orders
					div(class="component tall adv-order-panel")
						div(class="tab row")
							button(class="tablinks adv-new-condition") New Condition
							button(class="tablinks adv-new-event") New Event
							button(class="tablinks adv-new-stage") New Stage
							button(class="tablinks adv-save") Save
							button(class="tablinks adv-submit") Submit
							button(class="tablinks adv-clear") Clear
							//- button(class="tablinks") LTC-BTC
							//- button(class="tablinks") BCH-BTC
						div(class="adv-order")
							h3 General Options
							div(class="adv-header row")
								select(class="adv-order-coin")
									option(value="BTC-USD") BTC-USD
									option(value="ETH-USD") ETH-USD
									option(value="LTC-USD") LTC-USD
									option(value="BCH-USD") BCH-USD
								//- select(class="adv-order-side")
								//- 	option(value="buy") Buy
								//- 	option(value="sell") Sell
								select(class="adv-order-type")
									option(value="market") Market Order
									option(value="limit") Limit Order
								
							h3 If...
							div(class="adv-logic-if row")
								select(class="adv-order-metric")
									option(value="price") Price
									option(value="volume") Volume
									option(value="sma") Simple Moving Average
									option(value="macd") MACD Crossover
								select(class="adv-order-operator")
									option(value="gt") >
									option(value="equals") =
									option(value="lt") <
								input(type="text" class="adv-order-threshold")
							
							h3 Then...
							div(class="adv-logic-action row")
								select(class="adv-order-actions")
									option(value="buy") Buy
									option(value="sell") Sell
								input(type="text" class="adv-action-input")


				span(class="col one-third-width")
					h2 Trade History
					div(class="row")
						div(class="loader import-history-loader" style="visibility: hidden")
						button(class="import-history raw") Import History +
					div(class="component tall trade-history")
						div(class="row")
						ol
				span(class="col one-third-width")
					h2 Exchange History
					div(class="tab row")
						button(class="tablinks active" onclick="openTab(event, 'exchange-history-btc-usd')") BTC-USD
						button(class="tablinks" onclick="openTab(event, 'exchange-history-eth-usd')") ETH-USD
						button(class="tablinks" onclick="openTab(event, 'exchange-history-ltc-usd')") LTC-USD
						button(class="tablinks" onclick="openTab(event, 'exchange-history-bch-usd')") BCH-USD
						button(class="tablinks" onclick="openTab(event, 'exchange-history-eth-btc')") ETH-BTC
						button(class="tablinks" onclick="openTab(event, 'exchange-history-ltc-btc')") LTC-BTC
						button(class="tablinks" onclick="openTab(event, 'exchange-history-bch-btc')") BCH-BTC
					div(class="exchange-history component tall")
						ol(class="tabcontent" id="exchange-history-btc-usd" style="display: block")
						ol(class="tabcontent" id="exchange-history-eth-usd")
						ol(class="tabcontent" id="exchange-history-ltc-usd")
						ol(class="tabcontent" id="exchange-history-bch-usd")
						ol(class="tabcontent" id="exchange-history-eth-btc")
						ol(class="tabcontent" id="exchange-history-ltc-btc")
						ol(class="tabcontent" id="exchange-history-bch-btc")
	
			div(class="row")
				div(id="additional-info")
					div(id="total-fees-paid")
						label Total Fees Paid
						span 


	


	script(src="/javascripts/trade.js")
