/********************************** 
*  trade.css - stylesheet for trade page
*
*
*
*
**********************************/

.trade-view {
	/*background-color: #fffbee;*/
	background: linear-gradient(to top left, #effaca, #fffbee);
    padding-top: 30px;
    width: 100%;
    height: 100%;
    min-height: 1200px;
    display: flex;
    flex-direction: row;
}
/* .row .col h2, h3 {
	text-align: center;
} */
/* 
	Advanced Orders...
 */
select {
	font-size: 8pt;
}
select.adv-order-metric {
	width: 110px;
}
option {
	font-size: 8pt;
}

/********************************** 

	Trade window

**********************************/
.trade-window{
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	max-height: 100vh
	overflow-y: scroll;
	position: fixed;
	/*background-color: #bec898;*/
	background: linear-gradient(to top, #bec898, #effaca);
	z-index: 99999;
	padding: 0 5px;
	width: 19%;
}
.trade-window .col {
}
.trade-window .row{
	align-items: center;
	justify-content: space-between;

}
.trade-window input{
	width: 120px;
	align-self: right;
}
.trade-window label {
}
.dropdown, .coin-choice {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.dropdown input, .coin-choice input{
	width: 30px;
	height: 30px;
	align-self: center;
	border: 1px solid black;
}
.dropdown label, .coin-choice label{
	align-self: center;
	width: 40px;
}
.coin-choice div {
	font-size: 8pt;
	align-self: center;
}
.order-feedback-panel {
	border-top: 1px solid black;
	height: 100px;
	width: 100%;
}
.order-feedback {
	width: 100%;
	height: 100%;
}
.component {
	border-left: 1px solid #668680;
	border-right: 1px solid #668680;
	overflow-y: auto;
	overflow-x: hidden;
	/*padding: 0 4px;*/
	margin-left: -1px;
}
.component .row {
	margin-right: 2px;
}

/********************************** 

	Body
	
**********************************/
.trade-body {
	display: flex;
	flex-direction: column;
	margin-left: 22%;
	width: 100%;

}

.trade-body .row span.col{
	/*overflow: hidden;*/
	width: 100%;
	flex: 1 1 0;
}
/* .trade-body .row span.col div{
	width: 100%;
	padding-right: 28px; 
	overflow: auto;
}
 */
/********************************** 

	Last Trades
	
**********************************/
.last-trades {
	display: flex;
	border: 1px solid black;
	margin-left: -1px;
}

.last-trades .col {
	flex: 1 1 0;
	font-size: 8pt;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.last-trades .col .row {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.btcd-last-trades {
	display: flex;
	border: 1px solid black;
	margin-left: -1px;
}

.btcd-last-trades .col {
	flex: 1 1 0;
	font-size: 8pt;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.btcd-last-trades .col .row {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/********************************** 

	Personal Trade History
	
**********************************/
button.import-history {
    /*left: 155px;*/
    top: -55px;
    left: 90%;
    color: #0011ff;
    font-size: 8pt;
    display: inline;
}
.trade-history li {
	border: 1px solid black;
	font-size: 8pt;
}
.trade-history ol{ 
	height: 300px;
	overflow-y: auto;
	margin-top: -20px;
}
/* .exchange-history {
	border: 2px solid black;
	overflow-y: scroll;
	padding-right: 15px;
}
 */
.import-history-loader {
	position: relative;
	left: 87%;
	top: -38px;
}

/********************************** 

	Exchange History
	
**********************************/
.exchange-history {
	font-size: 8pt;
}
.exchange-history-body {
	height: 300px;
}
.col .tab {
}

/********************************** 

	Advanced Order Panel
	
**********************************/
.advanced-order-panel .tab .row{
	display flex;

}
.advanced-order-panel .tab .row button.tablinks {
	flex: 1 1 0;
}

/********************************** 

	Miscellaneous
	
**********************************/


button.tablinks {
	font-size: 8pt;
	/*width: 40px;*/
	/*height: 20px;*/
	text-align: center;
}




/********************************** 

	Transitions
	
**********************************/
.traded-down {
	transition: background-color 1.9s ease;
	background-color: red;
}
.traded-up {
	transition: background-color 1.9s ease;
	background-color: green;
}
.traded-neutral {
	transition: background-color 1.9s ease;
	background-color: yellow;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}