extends /layout

block content
	h1= title
	p Welcome to #{title}.  The goal of this software is to give you enhanced trading tools through which you can make better trades on various exchanges.  Currently, we only support GDAX but we will support other exchanges in the future.  OK
	
