extends /layout

block content
	link(rel='stylesheet', href='/stylesheets/trade.css')


	div(class="trade-window")
		div(class="row")
			label Price
			input(class="order-price" type="text" placeholder="Price")
		div(class="row")
			label Amount
			input(class="order-amount" type="text" placeholder="Amount")
		//- select(class="dropdown")
		//- 	option(value="buy") BUY
		//- 	option(value="sell") SELL
		//- select(class="coin-choice")
		//- 	option(value="BTC-USD") BTC-USD
		//- 	option(value="ETH-USD") ETH-USD
		//- 	option(value="BCH-USD") BCH-USD
		//- 	option(value="LTC-USD") LTC-USD
		div(class="row")
			div(class="col")
				label Balance:
			div(class="col")
				div(class="money-balance")
		form(class="dropdown row")
			div(class="row")
				label Buy
				input(type="radio" name="side" value="buy")
			div(class="row")
				label Sell
				input(type="radio" name="side" value="sell")
		hr
		form(class="coin-choice")
			div(class="row")
				label BTC-USD
				input(type="radio" name="coin-choice" value="BTC-USD")
				div(class="col")
					div(class="btc-balance")
					div(class="btc-worth")
			div(class="row")
				label ETH-USD
				input(type="radio" name="coin-choice" value="ETH-USD")
				div(class="col")
					div(class="eth-balance")
					div(class="eth-worth")
			div(class="row")
				label LTC-USD
				input(type="radio" name="coin-choice" value="LTC-USD")
				div(class="col")
					div(class="ltc-balance")
					div(class="ltc-worth")
			div(class="row")
				label BCH-USD
				input(type="radio" name="coin-choice" value="BCH-USD")
				div(class="col")
					div(class="bch-balance")
					div(class="bch-worth")
		button(class="submit-order") Submit order
	
	div(class="trade-body")
		h1= title

		div(class="row")
			div(class="component last-trades")
				h2 Last Traded Prices
				div(class="row")
					h3 BTC : $
					div(class="btc-price")
					div(class="btc-diff")
				div(class="row")
					h3 ETH : $
					div(class="eth-price")
					div(class="eth-diff")
				div(class="row")
					h3 LTC : $
					div(class="ltc-price")
					div(class="ltc-diff")
				div(class="row")
					h3 BCC : $
					div(class="bch-price")
					div(class="bch-diff")
	
			div(class="component trade-history")
				h2 Trade History
				ul
			div(class="component exchange-history")
				h2 Exchange History
				ol

		button(class="test") Test BUtton
		div(class="feedback")

	


	script(src="/javascripts/trade.js")
