extends /layout

block content
	h1= title
	
	div(class="btc-price")
	div(class="eth-price")
	div(class="ltc-price")
	div(class="bcc-price")
		
	div(class="form-group")
		input(type="text" class="hello")
		input(type="text" class="hello")
		input(type="text" class="hello")
		input(type="text" class="hello")
		input(type="text" class="hello")


	script(src="/javascripts/trade.js")
