doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")


        script(src='/javascripts/ajax.js')
    body
        include ./partials/nav
        div(class="container")
            block content
        
        script(src="/javascripts/client.js")